﻿
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Page Teste
    </title>

    <!-- Script -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="../Scripts/script.js"></script>
    <script src="../Scripts/FaleController.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="../Scripts/jquery.easing.min.js"></script>
    <script src="../Scripts/scrolling-nav.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="../Content/main.css" rel="stylesheet" />
    <link href="../Content/custom.css" rel="stylesheet" />

    <script src="//use.edgefonts.net/bebas-neue.js"></script>

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
    <link href="../Content/font-awesome.min.css" rel="stylesheet" />
    <link href="../Content/icomoon-social.css" rel="stylesheet" />
    <script src="../Scripts/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>
<body ng-app="myModule">
    <div ng-include src="'header.html'"></div>
    <form class="form-horizontal" ng-controller="postProduto">
        <fieldset>
            <!-- Text input-->
            <div class="form-group" style="margin-top:200px">
                <h1 style="text-align:center">Adicionar Produtos </h1>
                <label class="col-md-4 control-label" for="textinput_nome">Nome do Produto</label>
                <div class="col-md-4">
                    <input id="textinput_nome" name="textinput_nome" placeholder="digitar nome completo" class="form-control input-md" required="" type="text" ng-model="nome">

                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput_email">Preço</label>
                <div class="col-md-4">
                    <input id="textinput_email" name="textinput_email" placeholder="digite o Preço do Produto" class="form-control input-md" required="" type="text" ng-model="preco">

                </div>
            </div>
            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textarea_mensagem">Imagen</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="textarea_mensagem" name="textarea_mensagem" ng-model="imagen">Insira Url da Imagen</textarea>
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton_enviar">Enviar</label>
                <div class="col-md-4">
                    <button id="singlebutton_enviar" name="singlebutton_enviar" class="btn btn-primary" ng-click="postproduto(nome,preco,imagen)">Gravar</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div ng-include src="'footer.html'"></div>
</body>

</html>