﻿

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Page Teste
    </title>
    <!-- Script -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="../Scripts/script.js"></script>
    <script src="../Scripts/FaleController.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="../Scripts/jquery.easing.min.js"></script>
    <script src="../Scripts/scrolling-nav.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="../Content/main.css" rel="stylesheet" />
    <link href="../Content/custom.css" rel="stylesheet" />

    <script src="//use.edgefonts.net/bebas-neue.js"></script>

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
    <link href="../Content/font-awesome.min.css" rel="stylesheet" />
    <link href="../Content/icomoon-social.css" rel="stylesheet" />
    <script src="../Scripts/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>
<body ng-app="myModule">
    <div ng-include src="'header.html'"></div>
    <form class="form-horizontal">
        <fieldset>

            <div class="row" style="margin-top:200px">
                <div class="col-sm-9 padding-left">
                    <h1>Produtos </h1>
                    <div ng-controller="newController">
                        <ul ng-repeat="product in produto">
                            <li>{{product.Nome}}({{product.IdProduto}})</li>
                        </ul>
                        <h1>Atualizar Produtos </h1>
                    </div>
                </div>

                <div class="row" ng-controller="updateProduto">

                    <div class="form-group" style="margin-top:30px" >

                        <label class="col-md-4 control-label" for="textinput_nome">Id do Produto</label>
                        <div class="col-md-4">
                            <input id="textinput_nome" name="textinput_nome" placeholder="digitar o Id " class="form-control input-md" required="" type="text" ng-model="id">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput_nome">Nome do Produto</label>
                        <div class="col-md-4">
                            <input id="textinput_nome" name="textinput_nome" placeholder="digitar nome completo" class="form-control input-md" required="" type="text" ng-model="nome">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput_email">Preço</label>
                        <div class="col-md-4">
                            <input id="textinput_email" name="textinput_email" placeholder="digite o Preço do Produto" class="form-control input-md" required="" type="text" ng-model="preco">
                            <button id="singlebutton_enviar" name="singlebutton_enviar" class="btn btn-primary" ng-click="updateData(id)">Gravar</button>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
    <div ng-include src="'footer.html'"></div>
</body>

</html>