﻿<footer id="footer" style="background-color:gray">
    <!--Footer-->

    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h3>Service</h3>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="./AddProduto.html">Adicionar Produto Fornecedor</a></li>
                            <li><a href="./DeleteProduto.html">Deletar Produto Fornecedor</a></li>
                            <li><a href="./AttProduto.html">Atualizar Produto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2017 By Lipe All rights reserved.</p>
            </div>
        </div>
    </div>
</footer><!--/Footer-->