﻿<header class="navbar navbar-inverse navbar-fixed-top" role ="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="/img/logo2.png" width="300" height="45"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="Index.html">Home</a></li>
                <li><a href="about-us.html">Sobre nós</a></li>
                <li><a href="services.html">Produtos</a></li>
                <li><a href="FaleConosco.html">Fale Conosco</a></li>
            </ul>
        </div>
    </div>
</header>

