﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Page Teste
    </title>
    <!-- Script -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="../Scripts/script.js"></script>

    <!--  Nav JavaScript -->
    <script src="../Scripts/jquery.easing.min.js"></script>
    <script src="../Scripts/scrolling-nav.js"></script>
    <!-- Bootstrap  -->
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="../Content/main.css" rel="stylesheet" />
    <link href="../Content/custom.css" rel="stylesheet" />

    <script src="//use.edgefonts.net/bebas-neue.js"></script>

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
    <link href="../Content/font-awesome.min.css" rel="stylesheet" />
    <link href="../Content/icomoon-social.css" rel="stylesheet" />
    <script src="../Scripts/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>
<body ng-app="myModule">
    <div ng-include src="'header.html'"></div>
    <div ng-include src="'slides.html'"></div>

    <div class="row" style="margin-top:20px">
        <div class="col-sm-3">
            <div class="left-sidebar">
                <h2>Category</h2>
                <div class="panel-group category-products" id="accordian">
                    <!--category-productsr-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                    Esportes
                                </a>
                            </h4>
                        </div>
                        <div id="sportswear" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Nike </a></li>
                                    <li><a href="#">Under Armour </a></li>
                                    <li><a href="#">Adidas </a></li>
                                    <li><a href="#">Puma</a></li>
                                    <li><a href="#">ASICS </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/#main-slider-->
        <div class="col-sm-9 padding-right">
            <div ng-controller="newController">

                <div class="col-sm-3" ng-repeat="product in produto">                   
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                   <img class="thumbnail" ng-src="{{product.Img_url}}"/>
                                    <h2>R$ {{product.Preco}}</h2>
                                    <p>{{product.Nome}}</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add ao Carrinho</a>                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include src="'footer.html'"></div>
</body>

</html>

