﻿<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active" style="background-image: url(/img/slides/1.png)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content centered">
                                <!--<h2 class="animation animated-item-1">Maiquixi Galudixi</h2>
                                    <p class="animation animated-item-2">Nao perca Tempo</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item " style="background-image: url(/img/slides/2.png)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content centered">
                                <!--<h2 class="animation animated-item-1">Maiquixi Galudixi</h2>
                                    <p class="animation animated-item-2">Nao perca Tempo</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="icon-angle-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="icon-angle-right"></i>
    </a>
</section>